.App {
  color: #333;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
}

h1 span {
  animation: rotate 7s linear infinite;
  position: absolute;
}

@keyframes rotate {
  from {
    transform: translateX(10px) rotateZ(0deg)
  }
  to {
    transform: translateX(10px) rotateZ(360deg)
  }
}

input {
  border: 3px solid rgba(55,55,55,0.6);
  border-radius: 7px;
  box-shadow: 0 10px 10px -10px rgba(236, 5, 120, 0.01), 0 15px 20px -10px rgba(5, 22, 236, 0.1);
  color: inherit;
  font-size: inherit;
  padding: 15px 20px;
}

input:focus {
  border-color: rgba(5, 22, 236, 0.4);
  outline: none;
}